.title-login {
  font-weight: bold;
  color: white;
}

.form-login {
  padding: 4rem;
  background-color: #F8F8FF;
}

.ctn {
  border: 1px solid;
  height: 100vh;
  background: linear-gradient(-45deg, rgb(91, 91, 91),  #414142, #242425);
}

@media screen and (max-width: 600px) {
  .ctn {
    height: 100vh;
  }
};
