.coin-nav, .coin-nav-name, .coin-nav-cart{
  font-size: 1.2rem !important;
  text-transform: uppercase;
  font-weight: bold;
  display: flex !important;
  align-items: center !important;
}

.cart-lenght {
  color: #F0E68C;
  margin: 0;
}

.btn-loggout {
  margin-left: 5.0rem;
}

@media screen and (max-width: 600px) {
  .coin-nav, .coin-nav-name{
    margin-right: 0.5rem !important;
    font-size: 1rem !important;
    padding: 0 !important;
  }

  .coin-nav .cart-lenght {
    color: #F0E68C;
    margin-right: 0.5rem !important;
  }

  .btn-loggout {
    margin-left: 0.5rem !important;
  }
}
