.title-product {
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold !important;
}

.card-product {
  margin-bottom: 4px;
  height: 100%;
}

.img-product {
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  display: block;
  object-fit: cover;
}

.p-product {
  text-align: center;
}

.price-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.price-product h5 {
  font-size: 1.6rem;
}

.price-product h5::before {
  font-weight: bold;
  content: "$";
  font-size: 1rem;
  position: relative;
  top: -0.3rem;
  padding-right: 0.1rem;
}

.btn-add-cart:active{
  transform: translateY(2px);
}

@media screen and (max-width: 600px) {
  .loading {
    width: 100%;
    margin-top: 10rem;
  }
  
  .loading img{
    width: 22rem;
  }
};