.title-product {
  border: 1px solid black;
  text-align: center;
  text-transform: uppercase;
}

.p-product {
  text-align: center;
}

.price-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.price-product h5::before {
  font-weight: bold;
  content: "$";
  font-size: 1rem;
  position: relative;
  top: -0.3rem;
  padding-right: 0.1rem;
}